<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buskstop.config.mybatis.mapper.performanceCommentMapper">
	
	<resultMap type="performanceComment" id="performanceComment-resultmap">
		<id column="performance_comment_no" property="performanceCommentNo"/>
		<id column="performance_no" property="performanceNo" />
		<result column="performance_comment_user_id" property="performanceCommentUserId"/>
		<result column="performance_comment" property="performanceComment"/>
		<result column="performance_comment_reg_time" property="performanceCommentRegTime"/>
	</resultMap>
	
	
	<select id="listComment" parameterType="_int" resultMap="performanceComment-resultmap">
		select	performance_comment_no, 
				performance_comment_user_id, 
				performance_comment, 
				performance_comment_reg_time
		from performance_Comment 
		where performance_no=#{performanceNo}
		order by performance_comment_no
	</select>
	 
	 
	<insert id="insertPerformanceComment" parameterType="com.buskstop.vo.PerformanceComment">
	<selectKey keyProperty="performanceCommentNo" resultType="_int" order="BEFORE">
			select PERFORMANCE_COMMENT_NO_SEQ.nextval from dual
		</selectKey>
	INSERT INTO PERFORMANCE_COMMENT
	values( #{performanceCommentNo}, 
			#{performanceNo}, 
			#{performanceCommentUserId},
			#{performanceComment},
			sysdate)
	</insert>
	
	<delete id="deletePerformanceCommentByPerformanceCommentNo" parameterType="_int">
	DELETE FROM PERFORMANCE_COMMENT
	where performance_comment_no=#{performanceCommentNo}
	</delete>
	

	<update id="updatePerformanceComment" parameterType="PerformanceComment">
		update performance_Comment
		
		set	performance_comment = #{performanceComment}
		
		where performance_comment_no = #{performanceCommentNo}
	</update>
	
	<select id="selectPerformanceComment" parameterType="Map" resultMap="performanceComment-resultmap">
		SELECT	PERFORMANCE_COMMENT_NO,
				PERFORMANCE_NO,
				PERFORMANCE_COMMENT_USER_ID,
				PERFORMANCE_COMMENT,
				PERFORMANCE_COMMENT_REG_TIME
		FROM	PERFORMANCE_COMMENT
		<where>
			PERFORMANCE_NO = #{performanceNo}		
			<if test="userId != null">
			AND	PERFORMANCE_COMMENT_USER_ID	LIKE '%'||#{userId}||'%'
			</if>
			<if test="content != null">
			AND	PERFORMANCE_COMMENT LIKE '%'||#{content}||'%'
			</if>
		</where>
	</select>


</mapper>