<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buskstop.config.mybatis.mapper.premiumStageReservationMapper">
	
	<!--  sql 설정 -->
	<sql id="premiumReservation-column-sql">
		RESERVATION_NO,
		USER_ID,
		ESTABLISH_NO,
		RESERVATION_REG_TIME,
		OPTION_NO
	</sql>
	
	<sql id="premiumReservation-select-sql">
		SELECT <include refid="premiumReservation-column-sql"/>
		FROM	PREMIUM_STAGE_RESERVATION
	</sql>
	
	<sql id="premiumReservation-sub-select-sql">
		SELECT <include refid="premiumReservation-column-sql"/>
	</sql>
	
	<!-- <sql id="select-join-option-sql">
		SELECT	r.reservation_no,
				r.user_id,
				r.establish_no,
				r.reservation_reg_time,
				r.option_no
				o.stage_rental_date,
				o.time_list
	</sql> -->
	
	<resultMap type="PremiumStageReservation" id="premiumReservation-resultMap">
		<id column="RESERVATION_NO" property="reservationNo"/>
		<result column="USER_ID" property="reservationUserId"/>
		<result column="ESTABLISH_NO" property="establishNo"/>
		<result column="RESERVATION_REG_TIME" property="reservationRegTime"/>
		<result column="OPTION_NO" property="optionNo"/>
	</resultMap>
	<!-- <resultMap type="PremiumStageReservation" id="reservation-join-option-resultMap" extends="premiumReservation-resultMap">
		<association property="reservation" javaType="PremiumStageOption">
			<id column="OPTION_NO" property="optionNo"/>
			<result property="stageRentalDate" column="publisher_name" />
			<result property="timeList" column="publisher_name" />
			<result property="stageCost" column="publisher_phone" />
		</association>
	</resultMap> -->
	
	<insert id="insertPremiumStageReservation" parameterType="PremiumStageReservation">
		<selectKey keyProperty="reservationNo" resultType="_int" order="BEFORE">
			select PREMIUM_RESERVATION_NO_SEQ.nextval from dual
		</selectKey>
		INSERT INTO	PREMIUM_STAGE_RESERVATION
		VALUES		(#{reservationNo},
					 #{reservationUserId},
					 #{establishNo},
					 sysdate,
					 #{optionNo})
	</insert>
	
	<delete id="deletePremiumStageReservation" parameterType="_int">
		DELETE FROM PREMIUM_STAGE_RESERVATION
		WHERE reservation_no = #{value}
	</delete>
	
	<select id="selectPremiumStageReservationByEstablishNo" parameterType="_int" resultMap="premiumReservation-resultMap">
		<include refid="premiumReservation-select-sql"/>
		WHERE	establish_no = #{value}
	</select>
	
	<select id="selectPremiumStageReservationByUserId" parameterType="String" resultMap="premiumReservation-resultMap">
		<include refid="premiumReservation-select-sql"/>
		WHERE	user_id = #{value}
	</select>
	
	<select id="selectPremiumStageReservationByOptionNo" parameterType="_int" resultMap="premiumReservation-resultMap">
		<include refid="premiumReservation-select-sql"/>
		WHERE	option_no = #{value}
	</select>
	
</mapper>